body {
  margin: 0;
}

.cordova_disconnected {
  position: absolute;
  z-index: 99999;
  right: 25px;
  top: 25px;
  background-color: #690000;
  color: #fff;
  padding: 15px 15px 15px 20px;
  border-radius: 20px;
  display: none;
}

.cordova_disconnected.show {
  display: block;
}

.cordova_disconnected .icon {
  display: inline-block;
  margin-right: 10px;
}

.cordova_disconnected .message {
  display: inline-block;
}

#ts-splash-screen {
  height: 100%;
  background-color: #4b647f;
  background-image: url("ts_ember/background-04.png");
  background-size: cover;
  background-position: center center;
  color: #444;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  box-pack: center;

  position: absolute;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
}

#loader-error {
  display: none;
  font-family: Sans-Serif;
  position: absolute;
  z-index: 999999;
  text-align: center;
  bottom: 10%;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

#ts-splash-icon {
  position: relative;
  width: 25%;
  height: 33.33%;
  display: inline-block;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;

  background-image: url("ts_ember/ts-logo-color.svg");
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: center center;
}

#ts-splash-icon.portrait {
  height: 25%;
  width: 33.33%;
}

#ts-splash-loader {
  position: absolute;
  left: 50%;
  bottom: -40px;
  width: 64px;
  height: 64px;
  margin-left: -32px;
  display: inline-block;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  -webkit-transform: scale(0);
  transform: scale(0);
}

@-webkit-keyframes ts-splash-spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes ts-splash-spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#ts-splash-spinner {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  -webkit-animation: ts-splash-spin 1s infinite linear;
  animation: ts-splash-spin 1s infinite linear;
  background-image: url('ts_ember/ts-icon-white.svg');
  background-size: 100% 100%;
}

#ts-splash-progress {
  display: inline-block;
  vertical-align: middle;
  color: white;
  line-height: 64px;
  height: 64px;
  font-size: 12px;
  font-family: 'Helvetica', 'Roboto';
}
